<html>
    <head>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <div><h2 class="text-center">[[${pageTitle}]]</h2></div>
        <form th:object="${projetoDto}" action="/projeto/salvar" method="post">
            <input type="hidden" th:field="*{id}"/>
            <div>
                <label for="nome">Projeto</label>
                <input type="text" name="nome" th:field="*{nome}"/>
            </div>
            <div th:errors="*{nome}"></div>
            <div>
                <label for="dataInicio">Data Início</label>
                <input type="text" name="dataInicio" th:field="*{dataInicio}"/>
            </div>
            <div>
                <label for="dataFim">Data Fim</label>
                <input type="text" name="dataFim" th:field="*{dataFim}"/>
            </div>
            <div>
                <label for="dataPrevisao">Data Previsão</label>
                <input type="text" name="dataPrevisao" th:field="*{dataPrevisao}"/>
            </div>            
            <div>
                <label for="status">Status</label>
                <select name="status" th:value="*{status}">
                    <option>Selecione</option>
                    <option th:each="sts : ${status}" th:value="${sts}" th:field="*{status}" th:text="${sts.descr}"/>
                </select>
            </div>
            <div th:errors="*{status}"></div>
            <div>
                <label for="orcamento">Orçamento</label>
                <input type="text" name="orcamento" th:field="*{orcamento}"/>
            </div>
            <div>
                <label for="risco">Risco</label>
                <select name="risco" th:value="*{risco}">
                    <option>Selecione</option>
                    <option th:each="risco : ${riscos}" th:value="${risco}" th:field="*{risco}" th:text="${risco.descr}"/>
                </select>
            </div>
            <div th:errors="*{risco}"></div>
            <div>
                <label for="gerente">Gerente</label>
                <select id="gerente" name="gerente" th:value="*{gerente.id}">
                    <option>Selecione</option>
                    <option th:each="pessoa : ${pessoas}" th:value="${pessoa.id}" 
                        th:field="*{gerente.id}" th:text="${pessoa.nome}"></option>
                </select>
            </div>    
            <div th:errors="*{gerente}"></div>
            <div>
                <label for="descricao">Descricao</label>
                <textarea name="descricao" th:field="*{descricao}"></textarea>
            </div> 

            <table border=1  th:unless="*{#lists.isEmpty(membros)}" >
                <tr>
                    <td>Nome</td>
                </tr>
                <tr th:each="membro : *{membros}">
                    <td th:text="${membro.nome}"></td>
                    </td>
                </tr>
            </table>
            <br>
            <button type="submit">Cadastrar</button>        
        </form>
    </body>
</html>